<!-- vim: set ft=html: -->
<script>
	export let peertubeHelpers;

	let query = "";
	let wait = 0;
	let promise = null;
	let data = null;
	const sendQuery = (q) => {
		promise = fetch(
			`${peertubeHelpers.getBaseRouterRoute()}/search/movie/${q}`,
			{
				method: "GET",
				headers: peertubeHelpers.getAuthHeader(),
			}
		);
	};
	$: promise?.then((res) => res.json().then((j) => (data = j)));
	$: if (query) {
		clearTimeout(wait);
		wait = setTimeout(() => sendQuery(query), 500);
	}

	import {createEventDispatcher} from "svelte";
	const dispatch = createEventDispatcher();
	const onclick = (film) => {
		dispatch("film-chosen", film);
		data = null;
		query = "";
	};
</script>

<div class="form-group">
	<label for="tmdbsearch">Search for a film</label>
	<input id="tmdbsearch" bind:value={query} type="text" class="ng-pristine" />

	{#if data !== null}
	<div class="results">
		{#if data?.results?.length === 0}
		<p>No results !</p>
		{:else}
		{#each data?.results as film}
		<button class="film" on:click={()=> onclick(film)}>
			<img src={`https://image.tmdb.org/t/p/w185${film.poster_path}`} height="160" alt="" />
			<div class="film-right">
				<div class="titles">
					<span class="title">{film.title}</span>
					(&nbsp;<span class="italic">{film.original_title}</span>&nbsp;)
				</div>
				<div class="description">
					<p>{film.release_date.slice(0, 4)}</p>
				</div>
			</div>
		</button>
		{/each}
		{/if}
	</div>
	{/if}
</div>

<style>
	.results {
		position: absolute;
		z-index: 100;
		max-width: max-content;
		width: 400px;
		background-color: antiquewhite;
		color: brown;
	}

	.film {
		display: flex;
		border: none;
		align-items: center;
		width: 100%;
		margin-bottom: 1em;
		background-color: beige;
	}

	.film:hover,
	.film:focus {
		filter: saturate(1.5);
	}

	.film-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	button {
		color: inherit;
		margin: 0;
		padding: 0;
		text-transform: none;
		cursor: pointer;
		border-radius: 0;
	}

	.italic {
		font-style: italic;
	}
</style>
